* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

:root {
  --pink: #e24ec2;
  --black: #000000;
  --white: #ffffff;
}

body {
  background: var(--white);
  color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  min-width: fit-content;
}

input[type=text] {
  margin-right: 0.5rem;
  border-radius: 8px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 2rem;
}

input[type=text]:focus {
  outline: none;
  border: solid 2px var(--pink);
}

button {
  background-color: var(--pink);
  color: var(--white);
  padding: 10px 20px 10px 20px;
  cursor: pointer;
  border: 2px solid var(--pink);
  border-radius: 8px;
}

button:hover {
  opacity: 0.9;
}

/* CARD */

.column {
  float: left;
  width: 40%;
  padding: 0 10px;
}

.row {
  margin: 0 -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 30px;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 1rem;
  border: 1px solid var(--pink);
  border-radius: 8px;
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
